.navbar{
  color:#ff4500;
  min-height:65px;
  position:fixed;
  width:100%;
  color:#ff4500;
  z-index:99;
  white-space:nowrap;
}
.navbar li{
  display:inline-block;
  padding:26px 0;
  width:33.3%;
  text-align:center;
}
.navbar a{
  text-decoration:none;
  color:#4682b4;
}