/* .jumbotron{
  background:url(/assets/images/Steel-By-Jason-Zigrino.jpg) no-repeat center center fixed;
  background-size:100% auto;
  color:#000;
  min-height:300px;
  padding:180px 20px;
  padding-bottom:140px;
  text-align:center;
} */